[Desktop Entry]
Type=Application
Name=GPU Screen Recorder
GenericName=Screen recorder
Comment=A ShadowPlay-like screen recorder for Linux
Icon=gpu-screen-recorder
Exec=gsr-ui launch-hide-announce
Terminal=false
Keywords=gpu-screen-recorder;gsr-ui;screen recorder;streaming;twitch;replay;shadowplay;
Categories=AudioVideo;Recorder;
