[Unit]
Description=GPU Screen Recorder UI Service

[Service]
ExecStart=flatpak run com.dec05eba.gpu_screen_recorder gsr-ui launch-daemon
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target